@import 'globals.module.scss';

.edit {
  width: 100vw;
  @include flex;
  padding: 5rem 0;

}

.heading_wrapper {
  width: 100%;
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 120px;
}

.heading {
  color: crimson;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: capitalize;
  span {
    color: black;
  }
}

.create_btn {
  color: white;
  background: crimson ;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: all 0.3s;
  &:hover {
    background: #000;
  }
}

.wrapper,
.user_details,
.edit_user {
  @include flex;
  width: 100%;
}

.user_details,
.edit_user {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

.user_info {
  width: 100%;
  @include flex;
  flex-direction: row;
  justify-content: flex-start; > * + * {
    margin-left: 20px;
  }
}

.user_img {
  border-radius: 50%;
}

.user_name {
  font-weight: 700;
  font-size: 1.3em;
}

.job {
  font-weight: 300;
}

.items,
.edit_user {
  width: 100%;
  margin-top: 20px;
}

.subheading {
  font-weight: 700;
  color: gray;
}

.item {
  @include flex;
  flex-direction: row;
  Justify-content: flex-start;
  * + * {
    margin-left: 10px;
  }
}


.edit_user {
  margin-top: 5rem;
}

.user_img {
  @include flex;
  flex-direction: row;
  position: relative;
  input {
    width: 87px;
  }
  img {
    object-fit: cover;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin-left: 25px;
    margin-bottom: 20px;
  }
}



.edit_form {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px; > * + * {
    margin-top: 20px;
  }
}

.form_group {
  width: 100%;
  @include flex;
  align-items: flex-start;
  label {
    margin-bottom: 10px;
    color: crimson;
    font-size: .8em;
    font-weight: 600;
  }
  input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px black solid;
    padding: 5px 10px;
    &:hover {
      border-color: red;
    }
  }
}

.submit_btn {
  width: 100%;
  background:#000;
  border: none;
  border-radius: 20px;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.3s;
}

.spinner {
  animation: rotate 0.55s infinite linear forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}