@import 'globals.module.scss';

.sidebar {
  @include flex;
  flex: 1;
  background: #d4d4d4;
  transform: translateX(-100%);
  position: fixed;
  z-index: 888;
  transition: all 0.3s;
  min-height: 100vh;
  box-shadow: $box-shadow;
}

.container {
  margin-top: 70px;
}

.wrapper {
  width: 100%;
  @include flex;
  justify-content: flex-start ;
  padding: 20px;
  padding-left: 10px;
}

.heading {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color:rgb(93,93,93);
}

.items {
  width: 100%;
  @include flex;
  align-items: flex-start ;
  justify-content: flex-start ;
  margin-top: -.5rem;
}

.item {
  margin-top: -.5rem;
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px;
  min-width: 100%;
  transition: all 0.3s;
  cursor: pointer ;
  * + * {
    margin-left: 10px;
  }
  p {
    font-size: 14px;
  }
  &:hover {
    background: teal;
    border-radius: 20px;
    color: white ;
  }
}