@import 'globals.module.scss';

.widget_lg {
  width: 100%;
  @include flex;
  margin: 5rem 0;
  margin: 5rem 0;
  overflow: scroll;
}

.wrapper {
  width: 100%;
  margin-top: 2rem;
}

.headers,
.transaction {
  background: rgba(255, 255, 255, 0.15);
  @include flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  * {
    flex-basis: 100%;
  }
}

.headers {
  padding: 15px;
  margin-bottom: 20px;
  background: #fa7a7a;
  box-shadow: inset 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.header {
  color: white;
  font-weight: 500;
}

.transaction {
  top: 0;
  margin-top: -10px;
}

.item {
  @include flex;
  align-items: flex-start;
  font-size:.9em;
}

.img {
  border-radius: 50%;
}

.customer_details {
  @include flex;
  flex-direction: row;
  margin-left: 20px;
}

.name {
  margin-left: 10px;
  font-size: .9em;
}

.itemPending {
  background: yellow;
}